body {
  position: relative;
}

#board-container {
  display: grid;
  grid-template-areas: 
    "player-label computer-label"
    "player-board computer-board";
  justify-content: space-evenly;
}

.player-label {
  grid-area: player-label;
  place-self: center;
}

#player-board {
  grid-area: player-board;
}

.computer-label {
  grid-area: computer-label;
  place-self: center;
}

#computer-board {
  grid-area: computer-board;
}

#player-board, 
#computer-board,
#place-ships-board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 0.5px solid black;
}

.cell {
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}



.hidden {
  visibility: hidden;
}

#place-ships-container {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.ship {
  background-color: orange;
}

#computer-board .ship {
  background-color: transparent;
}

.cell.hit {
  background-color: lightblue;
}

.cell.miss {
  background-color: lightsalmon;
}

#end-game-popup {
  position: fixed;
  opacity: 0%;
  top: 30%;
  left: 50%;
  text-align: center;
  background-color: pink;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}

#end-game-popup.show {
  opacity: 100%;
  z-index: 2;
}